@use "../base/variables" as *;

.clients {
  padding-bottom: 60px;

  & .subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &_item {
    @include flex(inline-flex);
    max-height: 120px;
    padding: 30px;

    & img {
      display: block;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.color1 {
  background: #1C4280;
}

.color2 {
  background: #143646;
}

.color3 {
  background: #F48B30;
}

.color4 {
  background: #9E4DC3;
}

.color5 {
  background: #E2E2E4;
}

.color6 {
  background: #C71C36;
}

.color7 {
  background: #DCF3F9;
}

.color8 {
  background: #EAEAEA;
}

.color9 {
  background: #FD9339;
}

.color10 {
  background: #282240;
}

.color11 {
  background: #1D4568;
}

.color12 {
  background: #000000;
}

@media screen and (max-width: 1720px) {
  .clients {
    padding-bottom: 0;

    .border-wrapper {
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .clients {
    &-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

@media screen and (max-width: 575px) {
  .clients {
    &-grid {
      grid-template-columns: 1fr;
    }
  }

}
